*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

main{
  height: calc(100% - 80px);
  background-color: #141922;
}

aside{
  height: 100%;
  width: 200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Mix */
.white-txt{
  color: #fff;
  font-weight: bold;
}
.grey-txt{
  color: #7D7F84;
  font-weight: bold;
}

.row{
  display: flex;
  align-items: center;
}

/* Mix */

/* Logo */
.logo{
  display: flex;
  align-items: center;
}

.logo .fa-spotify{
  color: #fff;
  font-size: 40px;
  padding: 10px;
}

.logo .logo-text{
  color: #fff;
  font-size: 20px;
}
/* /Logo */

/* Top + Central Navbar */
.top-nav{
  margin-left: 13px;
}

.top-nav img{
  width: 45px;;
}

.top-nav p,
.central-nav p,
.bottom-nav p{
  font-size: 14px;
}

.top-nav h4{
  margin: 10px 0px;
}

.central-nav,
.bottom-nav{
  margin-left: 15px;
}

.central-nav .fa-plus{
  font-size: 20px;
  color: #000;
  background-color: #D2D2D2;
  padding: 10px;
  margin-right: 10px;
}

.column{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.column p{
  padding-bottom: 7px;
}
/* /Top + Central Navbar */

/* Bottom Navbar */
.bottom-nav{

}

.bottom-nav .fa-arrow-circle-down{
  padding-left: 10px;
  margin-right: 10px;
}




/* Bottom Navbar */





/* Footer */
footer{
  height: 80px;
  background-color: #282828;
}
/* 7Footer */
