*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

main{
  height: calc(100% - 80px);
  background-color: #141922;
}

aside{
  height: 100%;
  width: 200px;
  background-color: #000;
}

/* Mix */
.white-txt{
  color: #fff;
  font-weight: bold;
}
.grey-txt{
  color: #7D7F84;
  font-weight: bold;
}
.row{
  display: flex;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.column p{
  padding: 8px;
}
/* Mix */

/* Logo */
.logo{
  display: flex;
  align-items: center;
}

.logo .fa-spotify{
  color: #fff;
  font-size: 40px;
  padding: 20px;
}

.logo p{
  color: #fff;
  font-size: 20px;
}
/* /Logo */

/* Navbar */
.top-nav{
  margin-left: 13px;
}

.top-nav img{
  width: 45px;;
}

.top-nav p{
  font-size: 14px;
}

.top-nav h4{
  padding: 10px 10px;
}

.top-nav .fa-plus{
  font-size: 20px;
  color: #000;
  background-color: #D2D2D2;
  padding: 10px;
  margin: 0px 10px;
}




/* /Navbar */



.artist-container{

}







/* Footer */
footer{
  height: 80px;
  background-color: #282828;
}
/* 7Footer */
